.Calc-logo{
    height: 100px;
    padding-left: 45%;
    padding-top: 10px;
}
.component-parts{
    padding-top: 5%;
}
.title-text{
    color: beige;
    font-size: 2em;
    padding-left: 40%;
    font-family: cursive;
}